@using PetStok.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-for="Home" asp-action="Filtrele" method="post">
    <div class="container-fluid">
        @*Filtre Parametreleri*@
        <div class="row mt-3">
            @*Ad*@
            <div class="col-3">
                <label for="ad">Ad Seç</label>
                <select class="form-select" id="ad" name="ad">
                    <option value="hepsi">Hepsi</option>
                    @foreach (var ad in ViewBag.adlar)
                    {
                        @if (ad.ad == ViewBag.ad)
                        {
                            <option selected value=@ad.ad>@ad.ad</option>
                        }
                        else
                        {
                            <option value=@ad.ad>@ad.ad</option>
                        }
                    }
                </select>@*Barkod*@
                <label for="barkodAra" class="mt-2">Barkod Ara</label>
                <input class="form-control form-control-dark" type="text" id="barkodAra" placeholder="Barkod Ara" name="barkod" value=@ViewBag.barkod>
            </div>
            <div class="col-3">
                @*Tarih*@
                <label class="form-control-label" for="basTarih">Başlangıç Tarihi</label>
                <input class="form-control" type="date" name="basTarih" id="basTarih" value=@ViewBag.basTarih />
                <label class="form-control-label mt-2" for="bitTarih">Bitiş Tarihi</label>
                <input class="form-control" type="date" name="bitTarih" id="bitTarih" value=@ViewBag.bitTarih>
            </div>
            <div class="col-6 mt-4">
                @*Popüler Ürünler*@
                <div class="form-check">
                    @if (ViewBag.populer == true)
                    {
                        <input class="form-check-input" type="checkbox" name="populer" id="populer" checked value="true">
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" name="populer" id="populer" unchecked value="true">
                    }
                    <label class="form-check-label" for="populer">Popüler Ürünler</label>
                </div>

                @*Json Link Ürünler*@
                <div class="form-check mt-2">
                    @if (ViewBag.json == true)
                    {
                        <input class="form-check-input" type="checkbox" name="json" id="jsonLink" checked value="true">
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" name="json" id="jsonLink" unchecked value="true">

                    }
                    <label class="form-check-label" for="jsonLink">Json Link Ürünler</label>
                </div>
                @*Filtrele*@
                <button class="btn btn-primary mt-2" onclick="this.form.submit()">Filtrele</button>
                @*Temizle*@
                <a href="/DetayliFiltre" class="btn btn-primary mt-2">Temizle</a>
            </div>

        </div>
        <div class="row table-responsive text-start mt-2">
            <table class="table table-striped table-hover table-bordered table-sm sortable" id="detayProductTable">
                @*tablo başlığı*@
                <thead>
                    <tr>
                        <th scope="col">Barkod</th>
                        <th scope="col">Ürün Adı</th>
                        <th scope="col">Marka</th>
                        <th scope="col">Başlangıç Tarihi</th>
                        <th scope="col">Bitiş Tarihi</th>
                        <th scope="col">İlk Stok</th>
                        <th scope="col">Son Stok</th>
                        <th scope="col">Stok Farkı</th>
                        <th scope="col">Güncel Stok</th>
                        <th scope="col">Fiyat</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DetayProduct detayProduct in ViewBag.detayProducts)
                    {
                        <tr class="product">
                            @{
                                int bitstok;
                                Int32.TryParse(detayProduct.bitStok, out bitstok);
                                int basstok;
                                Int32.TryParse(detayProduct.basStok, out basstok);
                            }
                            <td class="barkod">@detayProduct.barkod</td>
                            <td class="urunAd">@detayProduct.urunAd</td>
                            <td class="ad">@detayProduct.ad</td>
                            <td class="stokTarihi">@detayProduct.basStokTarih </td>
                            <td class="stokTarihi">@detayProduct.bitStokTarih </td>
                            <td class="oncekiStok">@basstok</td>
                            <td class="sonrakiStok">@bitstok </td>
                            <td class="stokFarki">@(basstok - bitstok)</td>
                            <td class="guncelStok">@detayProduct.stok</td>
                            <td class="guncelStok">@detayProduct.fiyat</td>
                        </tr>
                    }
                </tbody>

            </table>

        </div><div class="row">
            <div class="ms-auto">
                Sayfalar:
                @for (int i = ViewBag.page - 3; i < ViewBag.page + 3; i++)
                {
                    if (i < 0 || i > ViewBag.totalPage)
                    {
                        continue;
                    }
                    if (ViewBag.page == i)
                    {
                        <button value=@(i) name="page" class="btn btn-primary btn-sm">
                            @(i + 1)
                        </button>
                    }
                    else
                    {
                        <button value=@(i) name="page" class="btn btn-secondary btn-sm">@(i + 1)</button>
                    }
                }
                ...
                <button value=@ViewBag.totalPage name="page" class="btn btn-secondary btn-sm">@(ViewBag.totalPage + 1)</button>
            </div>
        </div>
    </div>
</form>